/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-accent: "PressStart2P";
  --font-main: "Inter-Variable";
  --background: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --main-font-size: 18px;
  --transparent: transparent;
  --heart-countur: #000;
  --heart-is-liked-countur: red;
  --animation-fill-color: red;
  --sparks-color: red;
  --hover-fill: #000;
  --button-content: #fff;
  --button-bg-color: #fff;
}
